<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Faculty</title>
</head>
<body>
  <h1>Add Faculty</h1>
  <form method="POST" action="/addFaculty">
    <label>
      Name:
      <input type="text" name="name" required>
    </label>
    <br>
    <label>
      Department:
      <input type="text" name="department" required>
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
