<%- include('partials/header') %>

<div class="jumbotron text-center" >
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">welcome User</h1>
    <p class="secret-text">view your fine</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/fines" role="button">View fine </a>
    <a class="btn btn-dark btn-lg" style="background-color: rgb(12, 215, 36);" href="/editprofile" role="button">Edit Profile</a>
  </div>
</div>

<%- include('partials/footer') %>
